/* General configuration */
.normal-link {
  text-decoration: none;
  color: inherit;
}

.mobile-hidden {
  display: none;
}

.over-1215 {
  display: none;
}

/* Mobile version styling */

/* Fontawesome icons */
.fa {
  display: inline;
}

/* navbar */
#navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
}

#navbar-flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  background-color: white;
  margin-bottom: 0;
}

#nav-links {
  display: none;
}

#top-nav-links {
  background-color: darkcyan;
  display: none;
}

.bot-nav-text-links {
  display: none;
}

#bot-nav-icons {
  display: flex;
  justify-content: right;
}

.header-icon {
  width: 48px;
  height: 48px;
  text-align: center;
  padding-top: 16px;
  box-sizing: border-box;
  font-size: 16px;
}

#tnw-logo-background {
  height: 48px;
  width: 106px;
  position: relative;
  background-color: black;
}

#nav-tnw-logo {
  height: 16px;
  width: 66px;
  position: absolute;
  top: 16px;
  left: 20px;
}

#search-icon {
  border-right: 1px solid #eee;
  color: #999;
  transform: scaleX(-1);
}

#menu-icon {
  border-left: 1px solid #eee;
  color: #f42;
}

.nav-message {
  background-color: #fd3;
  height: 60px;
  width: 100%;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 20px;
  vertical-align: baseline;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 48px;
}

/* Highlights */
#highlights {
  width: 97%;
  margin: 108px auto 0 auto;
}

.highlight-title {
  font-family: Avalon, sans-serif;
  font-size: 20px;
  line-height: 22px;
  vertical-align: baseline;
  font-weight: 700;
  color: white;
}

.highlight {
  width: 100%;
  height: 30vh;
  position: relative;
  margin-top: 10px;
  z-index: 1;
}

.highlight-gradient {
  background: rgba(0, 0, 0, 0.25) url(../assets/highlight-background.webp) no-repeat;
  background-color: rgba(0, 0, 0, 0.25);
  background-size: 100% 100%;
  display: block;
  z-index: 2;
  height: 100%;
}

#highlight-1 {
  background-image: url("../assets/highlight-1.jpg");
  background-size: 100% 100%;
  background-position: 50%;
  z-index: 0;
}

#highlight-2 {
  background-image: url("../assets/highlight-2.webp");
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  z-index: 1;
}

#highlight-3 {
  background-image: url("../assets/highlight-3.webp");
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  z-index: 1;
}

.highlight-data-container {
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  vertical-align: baseline;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* Funding Section */
#latest-funding {
  font-family: Avalon, sans-serif;
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #f42;
  width: 90%;
  margin: 20px;
  position: static;
}

.latest-funding-header > ul {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 10px;
}

.funding-entry {
  margin-bottom: 38px;
}

.funding-entry-banner {
  position: relative;
  height: 104px;
}

.funding-img {
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  padding-top: 13px;
  padding-left: 13px;
  position: absolute;
  top: 0;
  left: 0;
}

.funding-banner-top {
  width: 100%;
  height: 44px;
  background-color: #f42;
}

.funding-title-head {
  color: white;
  background: #f42;
  padding: 10.6666666667px 16px 10.6666666667px 84px;
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  font-weight: 700;
  line-height: 1.25;
}

.funding-banner-bottom {
  width: 100%;
  height: 60px;
  padding: 10.667px 16px 10.667px 84px;
  box-sizing: border-box;
  background: rgba(255, 68, 34, 0.08);
}

.price {
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  font-size: 18px;
  line-height: 22.5px;
  vertical-align: baseline;
  font-weight: 700;
  color: black;
}

.sponsor {
  font-family: Shentox, sans-serif;
  font-size: 11px;
  line-height: 16.5px;
  vertical-align: baseline;
  letter-spacing: 0.44px;
  font-weight: 500;
  color: #555;
}

.funding-entry-text {
  color: #555;
  text-transform: capitalize;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
}

.funding-entry-text > i {
  margin: 0 10px 0 10px;
  font-size: large;
  box-sizing: border-box;
  line-height: 30px;
  color: #000;
}

.funding-story-link {
  border-top: 1px solid #dba89f;
  line-height: 17px;
}

.funding-story-link > p > a {
  vertical-align: baseline;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  color: #555;
}

.funding-method {
  color: #b1a9a9;
}

/* Footer */
.footer {
  width: 100%;
}

.footer-icons {
  width: 100%;
  background-color: #131313;
}

.footer-social-icons {
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-links-social {
  max-width: 85%;
  margin: 0 auto 1.5em auto;
  list-style: none;
  text-align: center;
}

.footer-icon-button {
  background-color: #333;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
  margin-left: 5px;
  text-align: center;
  list-style: none;
}

.footer-icon {
  color: white;
  display: block;
  height: 20px;
  width: 20px;
  font-size: 18px;
  position: absolute;
  top: 11px;
  left: 11px;
}

.footer-links-menu {
  color: rgb(170, 170, 170);
  font-family: Shentox, sans-serif;
  font-size: 14px;
  vertical-align: baseline;
  text-transform: uppercase;
  max-width: 60%;
  margin: 0 auto 0 auto;
  list-style: none;
  text-align: center;
}

.footer-links-link {
  display: inline-block;
  margin-left: 1px;
}

.footer-legal {
  width: 100%;
  background: black;
  color: #aaa;
  display: flex;
  justify-content: center;
}

.footer-legal-logo {
  display: inline-block;
  height: 9px;
  width: auto;
  margin: 1px;
}

.wrapper {
  display: block;
  text-align: center;
  font-size: 13px;
  line-height: 19.5px;
  padding: 20px;
}

.wrapper > span {
  display: block;
}

/* catgeroy */
#categories {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.category-header {
    outline: none;
    vertical-align: baseline;
    font-family: Avalon, sans-serif;
    font-size: 28px;
    letter-spacing: -.015em;
    color: #f42;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 14px;
}

.category-header > h2 > a {
    font-size: 100%;
    color: #f42;
    text-decoration: none;
}

.category-item {
    background-color: burlywood;
    color: #555;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    outline: none;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    list-style: none;
}

.category-content{
    background-image: url("../assets/highlight-background.webp");
    padding: 40vh 2vh 2vh 2vh;
    right: 0;
    z-index: 3;
}

.category-content > h4 {
    vertical-align: baseline;
    font-family: Shentox, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1.5;
    color: #fff;
    font-size: 13px;
    pointer-events: none;
}

.category-content > h5 {
     vertical-align: baseline;
    font-family: Shentox, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1.5;
    color: #fff;
    font-size: 13px;
    pointer-events: none;
}

.category-content > h3 {
    list-style: none;
    vertical-align: baseline;
    color: #f42;
    font-weight: 700;
    line-height: 1.1;
  font-size: 20px;
  margin-bottom: 6px;
}

.category-content > p {
  color: hsla(0,0%,100%,.6);
  font-size: 100%;
}

.category-content > p > a {
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    color: #fff;
}

.cat-content-bottom {
    display: flex;
    flex-direction: row;
    background-color: rgba(255,68,34,.06);
    margin: 2px 0;
    justify-content: space-between;
}

.cat-bottom-item {
    color: #555;
    font-size: 100%;
    display: block;
    flex: 1;
    overflow: hidden;
    padding: 10px 14px 0;
}

.cat-bottom-item > h5 {
    font-family: Shentox, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1.5;
    color: #f42;
    font-size: 13px;
}

.cat-bottom-item > h4 {
    color: #f42;
    font-weight: 700;
    line-height: 1.25;
    font-size: 14px;
    max-height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.cat-bottom-item > h4 > a {
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    color: #f42;
}

.more-cat-info {
    color: #555;
    border-bottom: 1px solid #eee;
}

.cat-extra-info {
    color: #f42;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    border-bottom: 1px solid #eee;
}

.cat-extra-info > a {
    color: #555;
    display: block;
    padding: 6px 0 6px 14px;
    position: relative;
    text-decoration: none;
}