/* Mobile version styling */
/* Fontawesome icons*/
.fa {
  display: inline;
}


/* Highlights */
.highlight {
  width: 100%;
  height: 250px;
}

#highlight-1 {
  background-image: url("../assets/highlight-1.jpg");
}

#highlight-2 {
  background-image: url("../assets/highlight-2.webp");
}

#highlight-3 {
  background-image: url("../assets/highlight-3.webp");
}
