/* General styling */
.normal-link {
  text-decoration: none;
  color: inherit;
}

/* Mobile version styling */
/* Fontawesome icons*/
.fa {
  display: inline;
}


/* Navbar */
#nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
}

#navbar-flex-container {
  display: flex;
  height: 80px;
}
.top-nav-link-left {}

.inline-list {
  display: inline-block;

}

#nav-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  background-color: white;
  margin-bottom: 0;
}

#logo-img {
  height: 48px;
  width: 106px;
}

.nav-links {
  text-align: left;
}

.nav-link {
  display: inline-block;
  padding: 18px 10px 0;
  font-height: 14px;
  line-height: 1;
  font-family: Shentox, sans-serif;
  text-transform: uppercase;

}

.right-icons {
  display: flex;
  justify-content: right;
}

.header-icon {
  width: 48px;
  height: 48px;
  text-align: center;
  padding-top: 16px;
  box-sizing: border-box;
  font-size: 16px;
}

#search-icon {
  border-right: 1px solid #eee;
  color: #999;
  transform: scaleX(-1);
}

#menu-icon {
  display: none;
}
